/* 
1-common style 
2-Genaral styles
3-sections
 3.0-header section
 3.1-home section
 3.2-about section
 3.3-portfolio section
 3.4-servive section
 3.5-prices section
 3.6-Team section
 3.7-Blog page
 3.8-cotact section
 3.9-footer section



  */
/*2- genaral Css style */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
width:80%;
margin: auto;
}
body{
    font-family: 'Varela Round', sans-serif;

}
button{
    font-family:'Varela Round', sans-serif ;
}
/* 3-sections */
/* 3.0 Header */
.header{

    position: fixed;
    width: 100%;
    z-index: 10;
}
.clear{
    clear: both;
}
.header .logo{
    width: 40%;
    
    float:left;
}
.header .nav{
    width: 60%;
    float:left;
    list-style: none;
    text-align: right;
    

}
.header .logo img{
    width: 20%;
    margin-top: 15px;
}
.hover-opacity{
transition:  opacity 0.5s;
}
.hover-opacity:hover{
opacity: 0.8;}
.itr-effect{
position: relative;
}
.itr-effect::after{
    position: absolute;
    content: "";
    width: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #333;
    transition:width 0.5s;
}
.itr-effect:hover:after{
    width: 100%;
}
.clear{
    clear: both;
}


.header .nav > li{
display: inline-block;
text-align: right;
}
h1, h2, h3, h4, h5, h6 {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header .nav > li > a{
    color:#fff;
    font-size: 15;
    text-decoration: none;
    display: block;
    padding: 30 15;
   
    
    }
    .header .nav > li >a::after,.header .nav > li >a.active::after{
        content:"";
        display: block;
        height: 2px;
        background-color: #6195ff;
        transition: width 0.5s;
    }
    .header .nav> li >a::after{
      width: 0%;
    }
   .header .nav >li >a.active::after{
        width: 100%;
      }
    .header .nav li >a:hover::after{
        
        width: 100%;
      
    }

    .home .title{
        color:white;
        font-size: 3rem;
        text-transform: uppercase;
    }
    .home{
        height: 100vh;
        background-image:url(../images/background1.webp);
        background-size: cover;
        position: relative;
    }
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0,0, 0.7);
    }
    .home-content{
        position: absolute;
        width: 65%;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .home .home-decr{
        margin: 20px 0px;
        color: white;
        letter-spacing: 2px;
        line-height: 1.5;
    
    }
    .home .btn{
    width:160px;
    padding:15px 0;
     border-radius: 5px;
     border:0;
     cursor: pointer;
     font-size: 18px;
    }
    .home .btn-start{
        margin-right: 10px;
        background-color: white;
    }
    .home .btn-learn{
        background-color: #6195ff;
        color: white;
    }
    .dropdown-manu{
    position: absolute;
    background-color:#6195ff;
    width: 150px;
    text-align: center;
    left: -50%;
    top:70%;
    opacity: 0;
    visibility: hidden;
    transition:  opacity 0.5s,visibility;
    }
    .dropdown:hover .dropdown-manu{
opacity: 1;
visibility: visible;
    }
    .dropdown{
        position: relative;
    }
    .dropdown-manu  a{
        color: #fff;
        display: block;
        padding: 10px;
        text-decoration: none;
       
    }
    .pd-y{
        padding: 120px 0;
    }
    .section-header{
        text-align: center;
        margin-bottom: 20px;
    }
    .section-header .section-title{
        font-size:35px ;
        text-transform: capitalize;
        margin-bottom: 10px;
    }
    .section-header .line{
        display: block;
        width: 60px;
        height: 5px;
        margin:  0 auto 70px auto;
        background-color: #6195ff;
       
    }
 .about{
        
    }
.about-content{
overflow: hidden;
}
.about-item{
width: 30%;
float: left;
text-align: center;
border:1px solid #888;
padding: 50px 20px;
 }
.about-item.mg{
    margin: 0 5%;
}
.about-item .icon{
    color: #6195ff;
    margin-bottom: 10px;

}
.about-item:hover .about-item-title{
    color: #fff;
}
.about-item-title{
    text-transform: capitalize;
    margin-bottom: 10px;
transition: color 0.5s;
}
.about-item-desc{
    line-height: 1.6;
    margin-bottom: 10px;
    color: #999;
}
.about-item-link{
    color: #6195ff;
}
.portofolo{
    background-color: #f9f9f9;
}
.portofolo-content{
    overflow: hidden;
}
.portofolo-item{
width: 32%;
float: left;
margin-bottom: 60px;
position: relative;
padding: 20;
}
.portofolo-item .layer-content{
    position: absolute;
    width: 100%;
    top:0;
    left: 0;
    height: 100%;
    background-color:rgba(0, 0,0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s visibility 0.5s;
}
.portofolo-item img{
    width: 100%;
  
}
.portofolo-item.mg{
margin: 0 2%;
}
.layer-content .layer-info{
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
width: 80%;
}
.portofolo-item:hover .layer-content{
    opacity: 1;
    visibility: visible;
}
.layer-content-title{
font-size: 20;
color: #fff;
margin-bottom: 10px;
position: relative;
top: 10px;
opacity: 0;
visibility: hidden;
transition: top 0.5s, opacity 0.5s;
transition-delay: .3s;
}
.layer-content .catogery{
color: #6195ff;
text-transform: capitalize;
display: block;
position: relative;
top: 10px;
opacity: 0;
margin-bottom: 5px;
visibility: hidden;
transition-delay: .3s;
transition: top 0.5s, opacity 0.5s;
}
.layer-content a{
color: #fff;
position: relative;
top: 10px;
opacity: 0;
visibility: hidden;
transition: top 0.5s, opacity 0.5s;
transition-delay: .2s;
}
.portofolo-item:hover .layer-content-title,
.portofolo-item:hover .layer-content a,
.portofolo-item:hover .layer-content .catogery{
    top: 0;
    opacity: 1;
    visibility: visible;
}


.layer-content a i{
    line-height: 40px;
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #6195ff;
    color: #fff;
    
}
.offer-content{
    overflow: hidden;
}
.offer-item{
    width:30%;
    float: left;
    margin-bottom: 20px;
    border:1px solid #e8e8e8;
    padding: 30px 15px 30px 70px;
    position: relative;

}
.offer-item.mg{
    margin: 0 5%;

}
.offer-item .icon{
position: absolute;
left:15px;
top:35px;
color: #6195ff;
}
.offer-item-title{
    text-transform: capitalize;
    margin-bottom: 15px;
    transition: color 0.5s;
}
.offer-item-desc{
    text-transform: capitalize;
    margin-bottom: 15px;
    line-height: 1.6;
    color: #999;
}
.offer-item:hover .offer-item-title{
    color: #fff;
}
.service{
    background-color:#f9f9f9;
}
.service-item{
    width: 50%;
    float: left;
    
}
.service-item .section-header{
    text-align: left;
}
.service-item  .section-header .line{
margin: 0 0 40 0;
}
.service-item-desc{
    padding-right: 20px;
    color: #999;
    line-height: 1.5;
    font-size: 17px;
    margin-bottom:20px ;
}
.service-list{
    list-style: none;
}
.service-list li i{
    border: 1px solid #6195ff ;
    color: #6195ff;
    border-radius: 50%;
    width: 30;
    height: 30;
    padding: 7;
}
.service-list li{
    margin-bottom: 10px;
    color: #999;
}
.service-item img{
    width: 100%;
}
.service-item .service-bollets{
    list-style: none;
    text-align: center;
}
.service-item .service-bollets li{
width: 10px;
height: 10px;
display: inline-block;
background-color: #e8e8e8;
margin:  10 5;
border-radius: 50%;

}
.service-bollets li.active{
    background-color: #6195ff;
}
.service-bollets li:hover {
    background-color: #6195ff;
}